* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    padding-top: 30px;
    padding-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.link {
    font-size: 20px;
    transition: color 0.2s;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
}

.link:hover {
    color: black;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
}

.languages {
    rotate: -90deg;
    margin-right: -30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.colour-text {
    transition: color 0.2s;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.colour-text:hover {
    color: black;
}

.picture1 {
    max-width: 100%;
    margin-top: 50px;   
}

.description {
    background-color: #F6F6F6;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    padding: 100px;
    font-size: 18px;
}

.description p {
    padding-top: 18px;
    padding-bottom: 18px;
}

.skills {
    font-family: 'Gilroy', sans-serif;
    padding: 100px;
    font-size: 18px;
    text-align: center;
}

.skills h1 {
    padding-bottom: 60px;
}

.programs {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.block {
    font-weight: bold;
    font-size: 14px;
    color: #878787;
}

.block p {
    padding: 16px;
}

.portfolio {
    background-color: #F6F6F6;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    padding: 100px;
    font-size: 18px;
}

.project-name {
    text-decoration: underline;
    padding-top: 40px;
    padding-bottom: 50px;
}

footer {
    font-family: 'Gilroy', sans-serif;
    padding: 100px;
    font-size: 18px;
    text-align: center;
}

.chat {
    margin-top: 30px;
    margin-bottom: 20px;
}

.button {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: transparent;
    margin-bottom: 60px;
}

.socials {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 60px;
}

.end {
    font-size: 14px;
    color: #878787;
}